*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/libs/
thirdgoogle/libs/
thirdgoogle/src/main/res/
thirdgoogle/local.properties
thirdgoogle/.idea/workspace.xml
thirdgoogle/.idea/vcs.xml
thirdgoogle/.idea/runConfigurations.xml
thirdgoogle/.idea/modules.xml
thirdgoogle/.idea/misc.xml
thirdgoogle/.idea/gradle.xml
thirdgoogle/.idea/encodings.xml
